.admin-background {
    background-image: url("./adminbackground.jpg");
    min-height: 100vh;
    background-size: cover;
  }

.admin-wrapper-leftmemu {
    width: 260px;
    position: fixed;
    bottom: 0;
    top: 0;
    z-index: 10;
    background: #313a46
}

.admin-wrapper-leftmemu .text-center {
  background-color: #313a46;
  display: block;
  line-height: 70px;
  width: 260px;
  position: fixed;
  top: 0;
  max-height: 100%;
  color: white;
}

.sidebar-item-link {
  display: block;
  padding: 10px 30px;
  font-size: .9375rem;
  position: relative;
  transition: all .4s;
  list-style: none;
}
.sidebar-item-link:hover {
  cursor: pointer;
  background-color: #252f50;
  transform: scaleX(1.1) scaleY(1.1);
}

.sidebar-item-link::before {
  content: "";
  width: 3px;
  background-color: #1b1d23;
  transform: scaleX(0);
  transition: transform .4s;
}

.sidebar-divider {
  position: absolute;
  padding: 0;
  margin: 0;
  left: 0;
  top: 70px;
  bottom: 0;
  right: 0;
}


.sidebar-nav, .sidebar-nav ul {
    list-style-type: none;
}

.sidebar-nav {
  padding-left: 0;
}

.sidebar-item {
  display: block;
  padding: 10px 30px;
  font-size: .9375rem;
  position: relative;
  transition: all .4s;
  list-style: none;
  color: #8391a2;
}


.loaded-component { 
  margin-left: 260px;
  padding: 70px 12px 65px;
}

.loaded-component-container {
  height: 75vh;
  background-color: rgba(75, 91, 106, 0.5);
  padding: 20px;
  overflow-y: auto;
}
.create-role-container,
.role-types-container,
.user-container,
.logs-user-container,
.register-user-container {
  margin: 50px;
}


.search-container {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}
  
.search-container input {
  padding: 10px;
  border: none;
  border-radius: 5px;
  width: 300px;
}

.table-container {
  padding: 20px;
  border-radius: 10px;
  background-color: rgba(101, 84, 49, 0.5);
}
  
.table-container table {
  width: 100%;
  border-collapse: collapse;
  color: white;
}
  
.table-container th {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}
  
.table-container td {
  border-bottom: 1px solid #ffffff;
  padding: 10px;
}

.table-container button {
  background-image: linear-gradient(to bottom right, #1b1d23, #194e7d);
  color: white;
  border: none;
  border-radius: 3px;
  padding: 6px 10px;
  font-size: 10px;
  font-weight: bold;
  cursor: pointer;
}

.table-container .btn-danger {
  background-image: none;
}

.table-container select {
  padding: 5px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar-item.active {
  background-color: #252f50;
  color: white;
}

.password-toggle svg:hover {
  cursor: pointer;
}

.role-user-header .modal-title,
.change-password-header .modal-title, 
.delete-user-header .modal-title {
  left: 0;
}

.logs-user-container {
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  background-color: #fff;

}

.logs-user-container .logs-tables-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.logs-table-container {
  flex: 1 0 30%;  /* Grow and shrink at the same rate, don't grow past 30% width */
  margin: 1rem;   /* Add some space around each table */
}

.logs-table-container h3 {
  text-align: center;
}

.logs-table {
  flex: 1 0 30%;  /* Grow and shrink at the same rate, don't grow past 30% width */
}